.sixth-content{
	display:none;
	
}
.sixth-content-mobile{
	display:none;
}
.wrapper-sixth-content{
	position:relative;
	display:flex;
	justify-content:center;
	
}
.news-slider{
	margin-top:15px;
	
}
.slide-item-news{
	display:flex;
	margin-top:20px;
}
.slide-item-news img{
	width:140px;
	height:80px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	
	
}
.img-slide-news-in img{
	border-radius:10px;
	
}
.content-slide-news{
	width:700px;
	margin-left:25px;
	
}
.title-slide-news{
	color:#fff;
	font-size: 18px;
	font-family: 'Roboto-Regular';
	
}
.desc-slide-news{
	line-height: 1.5;
	color:#fff;
	font-size: 16px;
	font-family: 'Roboto-Regular';
	
}
.content-slide-news a{
	margin-top:14px;
	float:right;
	text-decoration:none;
	font-family: 'Roboto-Regular';
	font-size: 16px;
	color:#fff;
	
}

.wrapper-sixth-content-slider{
	display:none;
	position:relative;
	justify-content:center;
	
}
.news-slider-in{
	width:993px;
	
}
.slide-item-news-in{
	margin-top:40px;
}
.content-slide-news-in{
	display:flex;
	
}
.title-slide-news-in{
	color:#fff;
	font-size: 24px;
	font-family: 'Roboto-Regular';
	
}
.title-slide-news-in-mobile{
	text-align:center;
	margin-top:23px;
	color:#fff;
	font-size: 16px;
	font-family: 'Roboto-Regular';
	
}
.mob-desc-slide-in{
	color:#fff;
	font-size: 14px;
	font-family: 'Roboto-Regular';
	
}
.desc-slide-news-in{
	margin-top:5px;
	margin-left:15px;
	line-height: 1.5;
	color:#fff;
	font-size: 14px;
	font-family: 'Roboto-Regular';
	
}
.lopr{
	display:flex;
	justify-content:center;
}
.del{
	
}
.your-class-arrow2{
	margin-left:27%;
	align-items:center;
	justify-content:center;
	margin-top:40px;
	display:flex;
}
#cp{
	display:block;
	color:#F6E200;
}
.dol{
	font-family: 'Roboto-Regular';
	font-size: 18px;
	bottom:5px;
	left:37px;
	position:relative;
	color:#fff;
	display:flex;
}
#onli-mob{
	display:none;
}
.counter-slider-mobile{
	display:none;
}
.counter-slider-mobile{
	
	
}
#cp-mob{
	margin-right:15px;
	color:#F6E200;
	
}
.dad{
	margin-left:15px;
	color:#fff;
}
.title-slide-news-in{
	display:block;
	text-align:center;
	margin-top:5px;
	color:#fff;
	font-size: 22px;
	font-family: 'Roboto-Regular';
	
}
#ms_booking_iframe{

}
.yclients-wrapper{
	height:99.7%;
	right:0;
	z-index:2000;
	position:absolute;
	display:none;
}
.far{
	cursor:pointer;
	position:relative;
	right:45px;
	top:15px;
	font-size: 35px;
	color:#fff;
}
.close-icon-yclients{
	position:absolute;
}

