* {
  padding: 0;
  margin: 0; }

body, html {
  height: 100%; }

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url("../fonts/BebasNeueRegular.woff"); }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.woff"); }

@font-face {
  font-family: 'BebasNeue-Bold';
  src: url("../fonts/BebasNeueBold.woff"); }

.hido {
  background: rgba(0, 0, 0, 0.6); }

.main-wrapper {
  height: 100vh;
  background: url("../img/background.png") no-repeat center top;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.bacg-tone {
  height: 100vh;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }

.vertical-decor {
  width: 100%;
  position: absolute;
  display: flex; }

.vertical-line {
  width: 20%;
  height: 100vh;
  border-right: 2px solid #C4C4C4;
  opacity: 0.3; }

.opacity-line {
  z-index: 2;
  position: relative;
  background: rgba(0, 0, 0, 0.5); }

.menu-item img {
  width: 100px;
  height: 40px; }

.header-menu {
  height: 110px;
  display: flex;
  align-items: center; }

.menu-item {
  z-index: 1;
  position: relative;
  text-align: center;
  width: 20%; }

.menu-item span {
  margin-top: 8px;
  display: block;
  letter-spacing: 2px;
  font-family: 'BebasNeue-Regular';
  text-transform: uppercase;
  font-size: 16px; }

.black-square {
  display: flex;
  justify-content: center;
  height: 40px; }

.black-square span {
  color: #fff; }

.heir-block {
  background-color: #000;
  height: 40px;
  width: 200px;
  display: block; }

.psix {
  position: relative;
  right: 5px;
  display: flex;
  justify-content: center; }

.shadow-block {
  display: none;
  top: 5px;
  position: absolute;
  width: 65px;
  height: 30px;
  background-color: #000; }

.header-menu a {
  position: relative;
  letter-spacing: 2px;
  font-family: 'BebasNeue-Regular';
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }

.header-menu a:hover {
  transition: all 0.5s ease;
  color: #F6E200; }

.menu-item:hover .shadow-block {
  display: block;
  color: #F6E200; }

.header-menu span {
  color: #ffff; }

.contacts-wrapper {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
  display: flex; }

.addres {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center; }

.addres a {
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'BebasNeue-Regular';
  text-transform: uppercase;
  font-size: 18px;
  color: #fff; }

.working-time {
  display: block;
  margin-right: 50px;
  position: relative;
  z-index: 3;
  letter-spacing: 2px;
  font-family: 'BebasNeue-Regular';
  text-transform: uppercase;
  font-size: 18px;
  color: #fff; }

.working-time:nth-child(2) {
  text-align: center;
  margin-top: 12px; }

.dic span {
  font-family: 'BebasNeue-Regular';
  color: #fff;
  font-size: 18px; }

.phone-number {
  position: relative;
  z-index: 3;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'BebasNeue-Regular';
  text-transform: uppercase;
  font-size: 18px;
  color: #fff; }

.title-main-content1 {
  justify-content: center;
  display: flex;
  margin-top: 115px; }

.upper {
  font-family: 'Roboto-Regular';
  color: #F6E200; }

.title-name {
  display: block;
  letter-spacing: 1.5px;
  font-family: 'Roboto-Regular';
  line-height: 1.5;
  font-size: 20px;
  color: #fff; }

.background-words {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.second-word {
  position: relative;
  left: 13px; }

.background-flex {
  display: flex;
  margin-left: 40px;
  position: relative;
  bottom: 25px; }

.background-text {
  opacity: 0.1;
  text-transform: uppercase;
  font-family: 'BebasNeue-Regular';
  font-size: 65px;
  color: #fff; }

.social-block {
  bottom: 20px;
  position: absolute;
  z-index: 4;
  margin-left: 10px;
  display: flex;
  flex-direction: column; }

.social-block a :nth-child(1) {
  margin-top: 10px; }

.button-wrapper {
  text-align: center; }

.button-read {
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'BebasNeue-Regular';
  background-color: transparent;
  margin-top: 137px;
  width: 240px;
  height: 69px; }

.online-button {
  margin-top: 90px;
  margin-right: 100px;
  float: right;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-family: 'BebasNeue-Bold.otf';
  background-color: #F6E200;
  color: #171717;
  text-transform: uppercase;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border-radius: 60px; }

.first-content {
  display: block; }

.none {
  display: none; }

.nonem {
  display: none; }

.gm-style-mtc {
  display: none; }

.gm-control-active {
  display: none; }

.gm-svpc {
  display: none; }

.gmnoprint {
  display: none; }

.djony {
  cursor: pointer; }

#popup__toggle {
  bottom: 25px;
  right: 10px;
  position: absolute;
  z-index: 999; }

.img-circle {
  background-color: #F6E200;
  box-sizing: content-box;
  -webkit-box-sizing: content-box; }

.circlephone {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border: 2px solid #F6E200;
  width: 150px;
  height: 150px;
  bottom: -25px;
  right: 10px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  opacity: .5;
  -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
  -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
  -ms-animation: circle-anim 2.4s infinite ease-in-out !important;
  -o-animation: circle-anim 2.4s infinite ease-in-out !important;
  animation: circle-anim 2.4s infinite ease-in-out !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s; }

.circle-fill {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-color: #F6E200;
  width: 100px;
  height: 100px;
  bottom: 0px;
  right: 35px;
  position: relative;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: circle-fill-anim 2.3s infinite ease-in-out;
  animation: circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s; }

.img-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 72px;
  height: 72px;
  bottom: 14px;
  right: 49px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7; }

.img-circle span {
  margin: 7px;
  font-size: 14px;
  font-family: 'BebasNeue-Regular';
  text-transform: uppercase;
  color: #000; }

.img-circleblock {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 72px;
  height: 72px; }

.img-circle:hover {
  opacity: 1; }

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 1; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 1; } }

@keyframes tossing {
  0% {
    transform: rotate(-8deg); }
  50% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(-8deg); } }

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-8deg); }
  50% {
    -webkit-transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(-8deg); } }

@-moz-keyframes circle-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
    -moz-opacity: .1;
    -webkit-opacity: .1;
    -o-opacity: .1; }
  30% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: .5; }
  100% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6;
    -moz-opacity: .6;
    -webkit-opacity: .6;
    -o-opacity: .1; } }

@-webkit-keyframes circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: .1; }
  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    -webkit-opacity: .5; }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: .1; } }

@-o-keyframes circle-anim {
  0% {
    -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
    -o-opacity: .1; }
  30% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    -o-opacity: .5; }
  100% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    -o-opacity: .1; } }

@keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1; } }

@-moz-keyframes circle-fill-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .7; }
  50% {
    -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: .7; }
  100% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .7; } }

@-webkit-keyframes circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .7; }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .7; }
  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .7; } }

@-o-keyframes circle-fill-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .7; }
  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .7; } }

@keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .7; }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .7; }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .7; } }

.button-wrapper-hide {
  display: none;
  text-align: center; }

.button-read-hide-tablet {
  position: relative;
  z-index: 11;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'BebasNeue-Regular';
  background-color: transparent;
  margin-top: 137px;
  width: 240px;
  height: 69px; }

#map {
  height: 100%;
  position: absolute;
  width: 100%; }

#map2 {
  position: absolute;
  height: 100vh;
  width: 100%; }

.time-work-mob-map {
  text-align: center;
  position: absolute;
  margin-top: 125px;
  font-family: 'BebasNeue-Regular';
  font-size: 14px;
  color: #F6E200; }

.header-mobile-navigation {
  z-index: 11;
  position: relative;
  padding-top: 15px;
  margin-left: 17px;
  margin-right: 17px;
  justify-content: space-between;
  display: flex;
  align-items: center; }

.logo-mobile {
  width: 39px;
  height: 20px; }

.name-company {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'BebasNeue-Regular';
  color: #fff; }

.burg-mobile-menu {
  cursor: pointer; }

.wrapper-header-mobile {
  z-index: 20;
  width: 100%;
  position: absolute; }

.header-menu-mobile {
  position: relative;
  display: none; }

.silver-line {
  opacity: 0.9;
  height: 1px;
  width: 100%;
  background-color: #C4C4C4; }

.menu-item-mobile {
  text-align: center; }

.menu-item-mobile a {
  position: relative;
  padding-top: 25px;
  width: 100%;
  height: 35px;
  display: block;
  text-decoration: none;
  font-family: 'BebasNeue-Regular';
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8); }

.menu-item-mobile a:active {
  color: #F6E200; }

.first-content-mobile-img {
  position: relative;
  margin-top: 32px;
  display: flex;
  justify-content: center; }

.first-content-mobile-img img {
  width: 200px;
  height: 140px; }

#hide-main-logo-slogan {
  display: none; }

.phone-hide-open {
  left: 38%;
  position: absolute; }

.main-telephone {
  display: flex;
  align-items: center;
  justify-content: center; }

.main-telephone a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: 'BebasNeue-Regular'; }

.main-telephone img {
  margin-right: 5px; }

.flex-slogan-phone {
  display: none; }

.wrapper-flex-slogan-phone a {
  top: 2px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'BebasNeue-Regular';
  color: #F6E200; }

.wrapper-flex-slogan-phone img {
  margin-right: 5px; }

.wrapper-flex-slogan-phone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

.wrapper-flex-slogan-phone span {
  font-size: 14px;
  font-family: 'BebasNeue-Regular';
  color: #F6E200; }

.name-company {
  letter-spacing: 1px; }

.map-slash-nomer {
  display: none;
  font-size: 14px;
  font-family: 'BebasNeue-Regular';
  color: #fff; }

.button-wrapper-hide-mobile {
  text-align: center; }

.button-read-hide-mobile {
  position: relative;
  z-index: 17;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'BebasNeue-Regular';
  background-color: transparent;
  margin-top: 137px;
  width: 240px;
  height: 69px;
  border: 1px solid white; }

.second-content {
  display: none; }

.second-content-mobile {
  display: none; }

.wrapper-second-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.title-second-content {
  line-height: 1.5;
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 18px; }

.list-wrapper {
  margin-left: 30px; }

.list-item {
  display: flex; }

.list-item img {
  width: 50px;
  height: 50px; }

.desc-list-item {
  line-height: 1.5;
  margin-left: 15px;
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 16px; }

.list-item:nth-child(1) {
  margin-top: 30px; }

.list-item:nth-child(2) {
  margin-top: 22px; }

.list-item:nth-child(3) {
  margin-top: 36px; }

.tablet-slider-block {
  display: none; }

.tablet-second-content {
  margin-top: 91px;
  display: flex;
  justify-content: center; }

.title-tablet-second-content {
  line-height: 1.5;
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 16px; }

.tablet-slider-second-content {
  width: 700px; }

.tablet-content-slider-item {
  display: flex; }

.desc-tablet-slider {
  margin-top: 34px;
  line-height: 1.5;
  margin-left: 30px;
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 16px; }

.your-class-arrow3 {
  margin-left: 30%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  display: flex; }

.title-mobile-second-content {
  margin-left: 5px;
  margin-top: 23px;
  line-height: 1.5;
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 14px; }

.mobile-slider-second-content {
  width: 300px; }

.desc-mobile-slider {
  margin-left: 20px;
  line-height: 1.5;
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 12px; }

.img-title {
  font-family: 'BebasNeue-Regular';
  font-size: 18px;
  color: #F6E200; }

.mobile-content__flex__element {
  margin-bottom: 10px;
  margin-left: 15px;
  display: flex;
  align-items: center; }

.mobile-content__flex__element img {
  width: 42px;
  height: 50px; }

.mobile-content__flex__element span {
  display: block;
  margin-left: 20px; }

.prev i {
  color: #fff; }

.next i {
  color: #fff; }

.prev {
  margin-top: 15px;
  position: relative;
  display: flex; }

.slick-slide {
  outline: none; }

.thrid-content {
  display: none;
  position: relative; }

.wrapper-thrid-content {
  margin-top: 40px;
  display: flex;
  justify-content: center; }

.item-list-heircut-price {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 591px; }

.name-heircut {
  margin-left: 35px;
  display: block;
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto-Regular'; }

.price {
  margin-right: 35px;
  display: block;
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto-Regular'; }

.item-list-heircut-price:hover {
  background-color: #000;
  transition: all 0.5s ease; }

.active-wrapper-menu-block {
  position: relative;
  margin-top: 23px;
  display: flex;
  justify-content: center; }

.active-menu-block {
  z-index: 5;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'BebasNeue-Bold';
  width: 285px;
  height: 45px;
  background-color: #393939;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff; }

.active-wrapper-menu-block-map {
  position: relative;
  display: flex;
  justify-content: center; }

.active-menu-block-map {
  margin-top: 70px;
  position: absolute;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'BebasNeue-Bold';
  width: 285px;
  height: 45px;
  background-color: #393939;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff; }

.fourth-content {
  display: none; }

.fourth-content-flex {
  display: flex;
  justify-content: center; }

.wrapper-fourth-content {
  margin-top: 70px; }

.text-fourth-content {
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 20px;
  line-height: 1.5; }

.text-fourth-content:nth-child(2) {
  margin-top: 15px; }

.button-wrapper-send-order {
  display: flex;
  justify-content: center; }

.button-send-order {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'BebasNeue-Regular';
  background-color: transparent;
  margin-top: 85px;
  width: 240px;
  height: 69px; }

.text-button {
  position: relative;
  letter-spacing: 1px; }

.black-block {
  display: none;
  bottom: 15px;
  left: 40px;
  position: absolute;
  width: 140px;
  height: 30px;
  background-color: #000; }

.button-send-order:active .black-block {
  display: block; }

.button-send-order:active {
  color: #FFDA44;
  border: 1px solid #FFDA44; }

.form-content {
  display: none; }

#active-mob-deactiv-web {
  display: none; }

.form-wrapper-flex {
  display: flex;
  justify-content: center; }

.form-block {
  width: 660px;
  margin-top: 30px; }

.title-form {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto-Regular';
  color: #fff; }

.name-post {
  width: 200px;
  display: block;
  font-size: 20px;
  font-family: 'Roboto-Regular';
  color: #fff; }

.from-post {
  margin-top: 40px;
  display: flex; }

.from-post input {
  outline: none;
  color: #fff;
  z-index: 10;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  width: 400px; }

.from-post textarea {
  z-index: 10;
  margin-right: 8px;
  outline: none;
  color: #fff;
  z-index: 10;
  height: 80px;
  width: 400px;
  background-color: transparent;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.link-summary-block {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 25px; }

.link-summary-block label {
  cursor: pointer;
  font-size: 20px;
  font-family: 'Roboto-Regular';
  color: #fff; }

.link-summary-block button {
  font-size: 20px;
  font-family: 'Roboto-Regular';
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: transparent; }

.successfully-block {
  display: none; }

.btn {
  cursor: pointer;
  color: #fff; }

.button-submit {
  letter-spacing: 1.5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'BebasNeue-Regular';
  background-color: transparent;
  width: 240px;
  height: 69px;
  margin-top: 25px;
  border: 1px solid white; }

.mustache {
  right: 10px;
  margin-left: 10px;
  display: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 0.5; }

.button-wrapper-mobile {
  text-align: center; }

.wrapper-primator {
  display: flex;
  justify-content: center; }

.primator {
  margin-top: 176px;
  width: 948px; }

.content-slide {
  display: flex; }

.text-slide-box {
  display: flex;
  margin-left: 15px; }

.krab {
  margin-left: 29px; }

.title-slide {
  font-family: 'Roboto-Regular';
  font-size: 24px;
  color: #fff; }

.desc-slide {
  font-family: 'Roboto-Regular';
  font-size: 20px;
  color: #fff;
  line-height: 1.5; }

.open-slider {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  float: right;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: transparent; }

.open-slider:active {
  color: #F6E200; }

.your-class-arrow {
  margin-left: 25%;
  margin-top: 60px;
  display: flex;
  justify-content: center; }

.arrow-primator-mob {
  margin-top: 20px;
  display: flex; }

.primator-mob {
  margin-top: 44px;
  width: 300px; }

.sixth-content {
  display: none; }

.sixth-content-mobile {
  display: none; }

.wrapper-sixth-content {
  position: relative;
  display: flex;
  justify-content: center; }

.news-slider {
  margin-top: 15px; }

.slide-item-news {
  display: flex;
  margin-top: 20px; }

.slide-item-news img {
  width: 140px;
  height: 80px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.img-slide-news-in img {
  border-radius: 10px; }

.content-slide-news {
  width: 700px;
  margin-left: 25px; }

.title-slide-news {
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto-Regular'; }

.desc-slide-news {
  line-height: 1.5;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto-Regular'; }

.content-slide-news a {
  margin-top: 14px;
  float: right;
  text-decoration: none;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #fff; }

.wrapper-sixth-content-slider {
  display: none;
  position: relative;
  justify-content: center; }

.news-slider-in {
  width: 993px; }

.slide-item-news-in {
  margin-top: 40px; }

.content-slide-news-in {
  display: flex; }

.title-slide-news-in {
  color: #fff;
  font-size: 24px;
  font-family: 'Roboto-Regular'; }

.title-slide-news-in-mobile {
  text-align: center;
  margin-top: 23px;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto-Regular'; }

.mob-desc-slide-in {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto-Regular'; }

.desc-slide-news-in {
  margin-top: 5px;
  margin-left: 15px;
  line-height: 1.5;
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto-Regular'; }

.lopr {
  display: flex;
  justify-content: center; }

.your-class-arrow2 {
  margin-left: 27%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  display: flex; }

#cp {
  display: block;
  color: #F6E200; }

.dol {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  bottom: 5px;
  left: 37px;
  position: relative;
  color: #fff;
  display: flex; }

#onli-mob {
  display: none; }

.counter-slider-mobile {
  display: none; }

#cp-mob {
  margin-right: 15px;
  color: #F6E200; }

.dad {
  margin-left: 15px;
  color: #fff; }

.title-slide-news-in {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: #fff;
  font-size: 22px;
  font-family: 'Roboto-Regular'; }

.yclients-wrapper {
  height: 99.7%;
  right: 0;
  z-index: 2000;
  position: absolute;
  display: none; }

.far {
  cursor: pointer;
  position: relative;
  right: 45px;
  top: 15px;
  font-size: 35px;
  color: #fff; }

.close-icon-yclients {
  position: absolute; }

@media (min-width: 320px) and (max-width: 576px) {
  .header-menu {
    display: none; }
  .wrapper-second-content {
    display: none; }
  .button-wrapper {
    display: none; }
  .button-wrapper-hide-mobile {
    display: block; }
  .contacts-wrapper {
    display: none; }
  .first-content {
    display: none; }
  .bacg-tone {
    background: none; }
  .main-wrapper {
    background-color: #000;
    background-image: none; }
  .out-mob {
    display: none; }
  .vertical-line {
    width: 60%;
    border-right: 1px solid #C4C4C4;
    border-left: 1px solid #C4C4C4; }
  .vertical-decor {
    justify-content: center; }
  .title-name {
    margin-left: 20px;
    font-size: 14px; }
  .title-main-content1 {
    margin-top: 23px; }
  #popup__toggle {
    bottom: 0;
    right: 0; }
  .circlephone {
    display: none; }
  .circle-fill {
    width: 65px;
    height: 65px;
    right: 14px;
    bottom: 4px; }
  .img-circle {
    bottom: 10px;
    right: 20px;
    width: 53px;
    height: 53px; }
  .button-read-hide-mobile {
    position: relative;
    bottom: 10px;
    margin-top: 0;
    width: 160px;
    height: 46px; }
  .social-block {
    bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: row; }
  .social-block img {
    width: 20px;
    height: 20px; }
  .social-block a :nth-child(1) {
    margin: 10px; }
  .wrapper-thrid-content {
    margin-top: 10px; }
  .item-list-heircut-price {
    width: 252px; }
  .name-heircut {
    margin-left: 0;
    font-size: 14px; }
  .price {
    margin-right: 0;
    font-size: 14px; }
  .wrapper-fourth-content {
    margin-top: 27px; }
  .text-fourth-content {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 12px; }
  .button-send-order {
    margin-top: 40px;
    width: 160px;
    height: 40px; }
  .title-form {
    margin-top: 18px;
    font-size: 14px; }
  .name-post {
    display: none; }
  .form-block {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%; }
  .from-post {
    margin-top: 20px; }
  .from-post textarea {
    margin-left: 10px;
    margin-right: 7px;
    width: 100%;
    height: 91px; }
  .from-post input {
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px; }
  #fores {
    margin-top: 5px;
    margin-right: 0; }
  .link-summary-block {
    justify-content: flex-start; }
  .link-summary-block label {
    font-size: 14px; }
  .link-summary-block img {
    margin-right: 5px;
    width: 20px;
    height: 20px; }
  .button-submit {
    margin-top: 15px;
    width: 160px;
    height: 40px; }
  .primator-mob {
    margin-top: 44px;
    width: 300px; }
  .title-slide {
    font-size: 16px; }
  .desc-slide {
    font-size: 14px; }
  .text-slide-box {
    display: flex; }
  .krab {
    margin-left: 0; }
  .text-slide-box {
    align-items: center; }
  .img-block img {
    width: 30px;
    height: 30px; }
  .desc-slide {
    padding: 10px;
    margin-top: 10px; }
  .news-slider {
    margin-top: 20px; }
  .slide-item-news {
    margin-top: 0; }
  .desc-slide-news {
    display: none; }
  .title-slide-news {
    font-size: 16px;
    line-height: 1.2; }
  .img-slide-news img {
    margin-left: 34px;
    width: 171px;
    height: 112px; }
  #marg-img {
    margin-top: 56px; }
  .title-slide-news {
    top: 50px;
    position: relative;
    right: 50px; }
  .open-slider {
    margin-top: 60px;
    margin-right: 35px;
    font-size: 12px; }
  .slide-item-news-in {
    margin-top: 0; }
  .news-slider-in {
    margin-top: 0;
    width: 100%; }
  .content-slide-news-in {
    display: block; }
  .desc-slide-news-in {
    padding-bottom: 10px;
    font-size: 11px; }
  .del {
    margin-left: 10px; }
  .img-slide-news-in {
    margin-top: 10px;
    display: flex;
    justify-content: center; }
  #active-mob-deactiv-web {
    display: block; }
  .your-class-arrow2 {
    margin-left: 0;
    margin-top: 10px;
    position: absolute; }
  #onli-mob {
    display: block; }
  .dol {
    display: none; }
  .counter-slider-mobile {
    display: block;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px; }
  .content-slide-news {
    margin-left: 0; }
  .mustache {
    position: absolute; }
  .img-block {
    margin-right: 10px; }
  .title-slide-news-in {
    font-size: 16px; }
  .content-slide-news {
    width: auto; }
  .from-post textarea {
    display: none; }
  .desc-slide-news-in {
    display: none; }
  .img-slide-news-in img {
    width: 170px;
    height: 110px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .phone-hide-open {
    left: 43%; }
  .header-menu {
    display: none; }
  .wrapper-second-content {
    display: none; }
  .button-wrapper {
    display: none; }
  .button-wrapper-hide-mobile {
    display: block; }
  .contacts-wrapper {
    display: none; }
  .first-content {
    display: none; }
  .bacg-tone {
    background: none; }
  .main-wrapper {
    background-color: #000;
    background-image: none; }
  .out-mob {
    display: none; }
  .vertical-line {
    width: 60%;
    border-right: 1px solid #C4C4C4;
    border-left: 1px solid #C4C4C4; }
  .vertical-decor {
    justify-content: center; }
  .title-name {
    margin-left: 20px;
    font-size: 14px; }
  .title-main-content1 {
    margin-top: 43px; }
  #popup__toggle {
    bottom: 0;
    right: 0; }
  .circlephone {
    display: none; }
  .circle-fill {
    width: 65px;
    height: 65px;
    right: 14px;
    bottom: 4px; }
  .img-circle {
    bottom: 10px;
    right: 20px;
    width: 53px;
    height: 53px; }
  .button-read-hide-mobile {
    position: relative;
    bottom: 10px;
    margin-top: 0;
    width: 160px;
    height: 46px; }
  .social-block {
    bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: row; }
  .social-block img {
    width: 20px;
    height: 20px; }
  .social-block a :nth-child(1) {
    margin: 10px; }
  .wrapper-thrid-content {
    margin-top: 40px; }
  .item-list-heircut-price {
    width: 252px; }
  .name-heircut {
    margin-left: 0;
    font-size: 14px; }
  .price {
    margin-right: 0;
    font-size: 14px; }
  .wrapper-fourth-content {
    margin-top: 27px; }
  .text-fourth-content {
    margin-left: 10px;
    font-size: 14px; }
  .button-send-order {
    margin-top: 40px;
    width: 160px;
    height: 40px; }
  .title-form {
    margin-top: 18px;
    font-size: 14px; }
  .name-post {
    display: none; }
  .form-block {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%; }
  .from-post {
    margin-top: 20px; }
  .from-post textarea {
    margin-left: 10px;
    margin-right: 7px;
    width: 100%;
    height: 91px; }
  .from-post input {
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px; }
  #fores {
    margin-top: 5px;
    margin-right: 0; }
  .link-summary-block {
    justify-content: flex-start; }
  .link-summary-block label {
    font-size: 14px; }
  .link-summary-block img {
    margin-right: 5px;
    width: 20px;
    height: 20px; }
  .button-submit {
    margin-top: 15px;
    width: 160px;
    height: 40px; }
  .primator-mob {
    margin-top: 44px;
    width: 300px; }
  .title-slide {
    font-size: 16px; }
  .desc-slide {
    font-size: 14px; }
  .text-slide-box {
    display: flex; }
  .krab {
    margin-left: 0; }
  .text-slide-box {
    align-items: center; }
  .img-block img {
    width: 30px;
    height: 30px; }
  .desc-slide {
    padding: 10px;
    margin-top: 25px; }
  .news-slider {
    margin-top: 60px; }
  .slide-item-news {
    margin-top: 0; }
  .desc-slide-news {
    display: none; }
  .title-slide-news {
    font-size: 16px;
    line-height: 1.2; }
  .img-slide-news img {
    margin-left: 34px;
    width: 171px;
    height: 112px; }
  #marg-img {
    margin-top: 56px; }
  .title-slide-news {
    top: 50px;
    position: relative;
    right: 50px; }
  .open-slider {
    margin-top: 60px;
    margin-right: 35px;
    font-size: 12px; }
  .slide-item-news-in {
    margin-top: 0; }
  .news-slider-in {
    margin-top: 0;
    width: 100%; }
  .content-slide-news-in {
    display: block; }
  .desc-slide-news-in {
    padding-bottom: 10px;
    font-size: 11px; }
  .del {
    margin-left: 10px; }
  .img-slide-news-in {
    margin-top: 10px;
    display: flex;
    justify-content: center; }
  #active-mob-deactiv-web {
    display: block; }
  .your-class-arrow2 {
    margin-left: 0;
    margin-top: 10px;
    position: absolute; }
  #onli-mob {
    display: block; }
  .dol {
    display: none; }
  .counter-slider-mobile {
    display: block;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px; }
  .content-slide-news {
    margin-left: 0; }
  .mustache {
    position: absolute; }
  .img-block {
    margin-right: 10px; }
  .title-slide-news-in {
    font-size: 16px; }
  .content-slide-news {
    width: auto; }
  .arrow-primator-mob {
    justify-content: center; }
  .del {
    display: flex;
    justify-content: center; }
  .mobile-slider-second-content {
    width: 500px; }
  .wrapper-mobile-second-content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-wrapper {
    min-height: 100%; }
  .vertical-decor {
    height: 100%; }
  .vertical-line {
    height: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .mobile-header-block {
    display: none; }
  .first-content-mobile {
    display: none; }
  .active-menu-block {
    display: none; }
  .text-fourth-content {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px; }
  .wrapper-fourth-content {
    margin-top: 110px; }
  .desc-slide-news {
    margin-right: 10px;
    font-size: 16px; }
  .news-slider-in {
    width: 700px; }
  .primator {
    width: 700px; }
  .content-slide-news {
    width: 70%; }
  .social-block {
    top: 70%; }
  .title-main-content1 {
    margin-left: 30px;
    margin-top: 100px; }
  .title-name {
    font-size: 16px; }
  .button-read {
    margin-top: 100px; }
  .contacts-wrapper {
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px; }
  .wrapper-second-content {
    display: none; }
  .button-wrapper {
    display: none; }
  .button-wrapper-hide {
    display: block; }
  .background-text {
    display: none; }
  .mob-desc-slide-in {
    display: none; }
  .open-slider {
    margin-right: 40px; }
  .img-slide-news img {
    width: 150px;
    height: 100px; }
  .wrapper-sixth-content {
    margin-left: 45px; } }

@media (min-width: 1024px) and (max-width: 1200px) {
  .mobile-header-block {
    display: none; }
  .first-content-mobile {
    display: none; }
  .active-menu-block {
    display: none; }
  .background-text {
    display: none; }
  .social-block {
    left: 10px;
    bottom: 200px; }
  .mob-desc-slide-in {
    display: none; } }

@media (min-width: 1200px) and (max-width: 1950px) {
  .background-text {
    display: none; }
  .mobile-header-block {
    display: none; }
  .first-content-mobile {
    display: none; }
  .active-menu-block {
    display: none; }
  .social-block {
    left: 10px;
    bottom: 200px; }
  .mob-desc-slide-in {
    display: none; } }
